<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DraftBenefitCalculator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <RouteLink class="nav-link" TViewModel=SimpleCalculatorViewModel>
                <span class="oi oi-project" aria-hidden="true"></span> Simple Calculator
            </RouteLink>
        </div>
        <div class="nav-item px-3">
            <RouteLink class="nav-link" TViewModel=ScenarioCalculatorViewModel>
                <span class="oi oi-project" aria-hidden="true"></span> Scenario Calculator
            </RouteLink>
        </div>
        <div class="nav-item px-3">
            <RouteLink class="nav-link" TViewModel=PictureCalculatorViewModel>
                <span class="oi oi-project" aria-hidden="true"></span> Picture-Based Calculator
            </RouteLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
